{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Это глобальный</title>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}"/>
</head>
<body>
<div class="menu">
    <button onclick="toggleForecast()">Совершить прогноз</button>
    <button>Просмотр графиков</button>
</div>
<div id="methods" class="methods" style="display: none;">
    <button id="linear">Линейная регрессии</button>
    <button id="boosting">Бустинг</button>
    <button id="knn">Метод k-ближайших соседей (k-NN)</button>
    <button id="svm">Метод опорных векторов (SVM)</button>
</div>
<div id="inputProfession" class="input-profession" style="display: none;">
    <div id="currentMethod">Текущий метод: Линейная регрессия</div>
    <input type="text" id="profession" name="profession" class="main-input" placeholder="Название профессии">
    <div id="inputContainer" class="input-container">
        <select id="experience" name="experience" class="other-input">
            <option value="">Опыт работы</option>
            <option value="no_experience">Нет опыта</option>
            <option value="1_to_3_years">От 1 года до 3 лет</option>
            <option value="3_to_6_years">От 3 до 6 лет</option>
            <option value="more_than_6_years">Более 6 лет</option>
        </select>
        <select id="employment" name="employment" class="other-input">
            <option value="">Тип занятости</option>
            <option value="full_employment">Полная занятость</option>
            <option value="internship">Стажировка</option>
            <option value="project_work">Проектная работа</option>
        </select>
        <select id="schedule" name="schedule" class="other-input">
            <option value="">График работы</option>
            <option value="full_day">Полный день</option>
            <option value="remote_work">Удаленная работа</option>
            <option value="flexible_schedule">Гибкий график</option>
        </select>
        <div id="regionContainer">
            <input type="text" id="region1" name="region1" class="other-input" placeholder="Регион"
                   onclick="openModal(this)" autocomplete="off">
            <input type="text" id="region2" name="region2" class="other-input" placeholder="Регион"
                   onclick="openModal(this)" autocomplete="off">
            <input type="text" id="region3" name="region3" class="other-input" placeholder="Регион"
                   onclick="openModal(this)" autocomplete="off">
        </div>
        <div id="myModal" class="modal">
            <!-- Содержимое модального окна -->
            <div class="modal-content">
                <span class="close">&times;</span>
                <input type="text" id="search" onkeyup="searchFunction()" placeholder="Поиск по регионам...">
                <ul id="regionList">
                    <li onclick="selectRegion(this)">Москва</li>
                    <li onclick="selectRegion(this)">Санкт-Петербург</li>
                    <li onclick="selectRegion(this)">Екатеринбург</li>
                    <li onclick="selectRegion(this)">Новосибирск</li>
                    <li onclick="selectRegion(this)">Майкоп</li>
                    <li onclick="selectRegion(this)">Горно-Алтайск</li>
                    <li onclick="selectRegion(this)">Барнаул</li>
                    <li onclick="selectRegion(this)">Архангельск</li>
                    <li onclick="selectRegion(this)">Астрахань</li>
                    <li onclick="selectRegion(this)">Брянск</li>
                    <li onclick="selectRegion(this)">Владивосток</li>
                    <li onclick="selectRegion(this)">Волгоград</li>
                    <li onclick="selectRegion(this)">Воронеж</li>
                    <li onclick="selectRegion(this)">Махачкала</li>
                    <li onclick="selectRegion(this)">Иркутск</li>
                    <li onclick="selectRegion(this)">Нальчик</li>
                    <li onclick="selectRegion(this)">Калининград</li>
                    <li onclick="selectRegion(this)">Элиста</li>
                    <li onclick="selectRegion(this)">Калуга</li>
                    <li onclick="selectRegion(this)">Кемерово</li>
                    <li onclick="selectRegion(this)">Сыктывкар</li>
                    <li onclick="selectRegion(this)">Кострома</li>
                    <li onclick="selectRegion(this)">Краснодар</li>
                    <li onclick="selectRegion(this)">Красноярск</li>
                    <li onclick="selectRegion(this)">Курган</li>
                    <li onclick="selectRegion(this)">Курск</li>
                    <li onclick="selectRegion(this)">Магадан</li>
                    <li onclick="selectRegion(this)">Саранск</li>
                    <li onclick="selectRegion(this)">Мурманск</li>
                    <li onclick="selectRegion(this)">Нижний Новгород</li>
                    <li onclick="selectRegion(this)">Великий Новгород</li>
                    <li onclick="selectRegion(this)">Омск</li>
                    <li onclick="selectRegion(this)">Орел</li>
                    <li onclick="selectRegion(this)">Оренбург</li>
                    <li onclick="selectRegion(this)">Пенза</li>
                    <li onclick="selectRegion(this)">Пермь</li>
                    <li onclick="selectRegion(this)">Петрозаводск</li>
                    <li onclick="selectRegion(this)">Псков</li>
                    <li onclick="selectRegion(this)">Ростов-на-Дону</li>
                    <li onclick="selectRegion(this)">Рязань</li>
                    <li onclick="selectRegion(this)">Самара</li>
                    <li onclick="selectRegion(this)">Саратов</li>
                    <li onclick="selectRegion(this)">Якутск</li>
                    <li onclick="selectRegion(this)">Южно-Сахалинск</li>
                    <li onclick="selectRegion(this)">Владикавказ</li>
                    <li onclick="selectRegion(this)">Смоленск</li>
                    <li onclick="selectRegion(this)">Ставрополь</li>
                    <li onclick="selectRegion(this)">Тамбов</li>
                    <li onclick="selectRegion(this)">Казань</li>
                    <li onclick="selectRegion(this)">Тверь</li>
                    <li onclick="selectRegion(this)">Томск</li>
                    <li onclick="selectRegion(this)">Кызыл</li>
                    <li onclick="selectRegion(this)">Тула</li>
                    <li onclick="selectRegion(this)">Тюмень</li>
                    <li onclick="selectRegion(this)">Ижевск</li>
                    <li onclick="selectRegion(this)">Ульяновск</li>
                    <li onclick="selectRegion(this)">Уфа</li>
                    <li onclick="selectRegion(this)">Хабаровск</li>
                    <li onclick="selectRegion(this)">Челябинск</li>
                    <li onclick="selectRegion(this)">Грозный</li>
                    <li onclick="selectRegion(this)">Чита</li>
                    <li onclick="selectRegion(this)">Чебоксары</li>
                    <li onclick="selectRegion(this)">Сочи</li>
                    <li onclick="selectRegion(this)">Норильск</li>
                </ul>
            </div>
        </div>
        <button onclick="sendData()">Начать</button>
    </div>
</div>
<div id="dataPlace" style="display: none;">
    <div id="rmse"></div>
    <div id="y_pred"></div>
</div>
<div class="container">
    <div id="imageContainer1"></div>
    <div id="imageContainer2"></div>
</div>
<script type="text/JavaScript" src="{% static 'js/main.js' %}"></script>
</body>
</html>